$athabasca-orange: #f15c19;
$banner-color: #1b365d;
$banner-text-color: #fff;

.layout {
  height: 100vh;
  display:flex;
  flex-direction: column;
}

.main-container {
  flex: 1 0;
}

.content-row {
  background-color: #0070f3;
  flex: 1;
}

.banner {
  background-color: $banner-color;
}

.footer {
  @extend .banner;
  padding: 2rem 0;
  color: $banner-text-color;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.header {
  @extend .banner;
}

.navbar,
.navbar-dark {
  @extend .banner;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .footer {
    font-size: small;
  }
}


